<% unless session[:display_welcome] %>
<div class="alert alert-success">
  <%= flash.now[:notice] = "Sign in succesful"%>
  <% session[:display_welcome] = true %>
<% end %>
</div>
<div class="error-message">
  <% unless flash[:alert].nil? %>
    <%= render html: "<script>alert('#{flash[:alert]}')</script>".html_safe %>
  <% end %>
</div>

<br>
<div class="new-post-button">
  <%= link_to new_post_path do %>
      <button type="button" class="btn btn-primary">New post</button>
  <% end %>
</div>

<div class="post-container">
  <br>
  <% @posts.each do |post| %>
    <div class="card" id="post-#{post.id}">
      <div class="card-body">
        <strong><%= h(post.message).gsub(/\n/, '<br/>').html_safe %></strong>
        <br>
        <i>On <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %></i>
        <br>By user: <%= link_to user_path(id: post.user.id), controller: 'users' do %> <%= "#{post.user.firstname} #{post.user.lastname}" %> <% end %>
       </div>
       <div class="card-like">
         <% if post.likes.length > 0 %>
                   Total Likes: <%= post.likes.count %>
                 <% end %>
                 <% existing_like = post.likes.find{ |like| like.user_id == current_user.id } %>
                 <% if !existing_like %>
                   <%= link_to post_likes_path(post), method: :post do%>
         <button id="like-button" class="far fa-heart fa-1x" type="button"></button>
         <% end %>
         <% else %>
          <%= link_to post_like_path(post, existing_like), method: :delete do%>
         <button id="dislike-button" class="fas fa-heart fa-1x" type="button"></button>
         <% end %>
         <% end %>
        <% if post.user_id == current_user.id %>
          <br><%= link_to edit_post_path(post), :id => "edit-#{post.id}" do %>
          <button id="edit-button" class="far fa-edit" type="button"></button><% end %>
          <%= link_to post_path(:id => post.id), controller: 'posts',
          action: 'destroy', method: 'delete',
          data: {confirm: "Are you sure you want to delete the post?",
          confirm_proceed: "Disconnect"} do %><button id="delete-button" class="far fa-trash-alt" type="button"></button><% end %>
      <% end %>
      </div>
    </div>


    <br><br>
  <% end %>
</div>
