<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Makerbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <div class="header">
        Makerbook
      <div class="logout-button" style = "float: right;">
        <% if user_signed_in? %>
        <%= current_user.firstname %> <%= current_user.lastname %>
        <%= button_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-info") %>
        <% end %>
      </div>
    </div>

  </head>


  <body>

    <%= yield %>
  </body>

  <footer class="container footer" align="center">
          <p><strong>ABOUT US</strong> | <strong>SOME MAD BAD HASHTAGS</strong></p>
          <!-- <li>PRIVACY</li> -->
          <!-- <li>TERMS</li> -->
          <!-- <li>PROFILES</li> -->

          <!-- <li>LANGUAGE</li> -->
        <!-- <p> Acebook © 2019  </p> -->
    </footer>
</html>
